@import "~materialize-css/dist/css/materialize.min.css";

ul.hr {
    margin: 0;
    /* Обнуляем значение отступов */
    padding: 4px;
    /* Значение полей */
}

ul.hr li {
    display: inline;
    /* Отображать как строчный элемент */
    margin-right: 5px;
    /* Отступ слева */
    /*padding: 3px;  Поля вокруг текста */
}

.childCategories {
    position: absolute;
    z-index: 10;
    opacity: 0.9;
    border-radius: 10px;
}

.catalog-button {
    border-radius: 10px;
    margin-top: 15px;
}

.nav-kek {
    margin-top: 7px;
}

.nav-buttons {
    left: 50px;

}

.nav-search {
    margin-top: 20px;
    border-radius: 10px;
    height: 30px;
}

.category {
    border-radius: 10px;
}

.main-banners {
    border-radius: 20px;
}

.logo {
    margin-top: 10px;
}

nav {
    line-height: 30px;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.first {
    flex: 3;
}

.space {
    flex: 1;
}

.second {
    flex: 7;
}

.card-name-height {
    height: 120px;
}

.barcode-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    color: #868686;
}

.name-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.price-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #000000;
}

.inBox-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */
    color: #B6B6B6;
}

.podpiska-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
}

.podpiska-div {
    margin-top: 20px;
}

.podpiska-rectangle {
    background: linear-gradient(180deg, #3D74A6 -7%, #92A8BB 100%);
    box-shadow: 1px 16px 15px rgba(0, 0, 0, 0.25);
}

.podpiska-button {
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}

.headers-main {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
    color: #000000;
}


.footer-links {
    height: 100px;
    background-color: #374F64 !important;
}

.product:hover {
    background: rgba(74, 108, 138, 0.09);
}

.footer-text-white {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    margin-left: 20px;
    color: #FFFFFF;
}

.footer-text-white-copy {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-right: 20px;
    text-align: right;
    text-transform: uppercase;

    color: #FFFFFF;
}

.carousel-card {
    padding: 10px;
}

.slider-button {

    display: block;
    background: blue;
}

.cart-adding {
    margin-top: 10px;
}

.plus-minus {
    margin-top: 10px;

}

.plus-minus-text {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

}

.menu-icon {
    color: blue;
    margin-left: 15px;
}

.nav-butt {
    margin-left: 15px;
}

.footer-low-panel {
    margin-top: 20px;
}

.badge-catalog {
    margin-top: 6px;
}

/* detail */
.detail {
    font-family: 'Roboto';
    font-style: normal;
}

.barcode-detail {
    width: 117px;
    height: 47px;
    background: #585858;

    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

.barcode-detail-text {
    margin-left: 10px;
}

.name-detail {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;

    color: #000000;
}

.img-detail {
    width: 100px;
}

.stats-detail {
    border: 1px solid #727272;
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}

.detail-desc-info {
    background: #F4F4F4;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
}

.detail-desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #2C2C2C;
}


.one-stat-detail {
    margin: 20px, ;
}

.stat-name-detail {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #262626;
}

.stat-value-detail {
    text-align: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #262626;
}

.name-stat-detail {
    margin: 30px;
}

.desc-info {
    margin: 10px;
}

.detail-opisanie {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;

    color: #000000;

}
.detail-main-pic{
    width: 100%;
    height: auto;
}